<!DOCTYPE html>
<html>
  <head>
    <title>Project fun fun fun fun</title>

    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css' type='text/css'>

  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
